<h2 class="text-2xl font-bold mb-6 text-center text-gray-800">{{ title }}</h2>
<div class="relative carousel-container">
    <div class="carousel flex gap-4 overflow-x-auto scroll-smooth scrollbar-hide pb-2" id="carousel">
        {% for listing in listings %}
            <div class="carousel-card min-w-xs bg-white rounded-xl p-4">
                <img src="{{ listing.image.url }}" alt="{{ listing.title }}"
                     class="rounded-lg mb-3 w-full h-40 object-cover"/>
                <h3 class="text-lg font-semibold text-blue-700 mb-2">{{ listing.title }}</h3>
                <p class="text-sm text-gray-600 mb-2">{{ listing.description }}</p>
                <div class="flex justify-between items-center mt-3">
                    <p class="text-lg font-bold text-gray-800">{{ listing.price }} лв</p>
                    <p class="text-lg font-bold text-gray-800">{{ listing.eur_price }} евро</p>
                </div>
                <a href="{% url 'listingDetail' listing.pk %}"
                   class="flex w-full bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700 font-medium">
                    Поръчай
                </a>
            </div>
        {% empty %}
            <p class="w-full text-center">Няма оферти, погледни по-късно</p>
        {% endfor %}
    </div>
    {% include 'components/partials/carousel-controls.html' %}
</div>
