SECRET_KEY='SECRET_HERE'
DB_NAME="mydatabase"
DB_USER="mydatabaseuser"
DB_PASSWORD="mypassword"
DB_HOST="127.0.0.1"
DB_PORT="5432"
CLOUD_NAME=your_cloud_name
API_KEY=your_api_key
API_SECRET=your_api_secret
