{%extends 'base.html'%}

{%block head_title %} ЗА БИЗНЕСИ {%endblock%}

{%block content%}

<section>
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Ако си <span class='text-yellow-600 underline'>БИЗНЕС</span> и искаш да спасяваш храна</h2>
            <p class="mb-4 font-bold">Трябва да се регистрирате от формата за създаване на БИЗНЕС Акаунт.</p>
            <p class='font-bold'>Моля имайте предвид че Вашият БИЗНЕС Акаунт няма да бъде активиран веднага. Активирането става ръчно от Нашият Екип</p>
        </div>

    </div>
</section>
{%endblock%}