<section id="section-table" class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="default-table" class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>

                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Заглавие
                </th>
                <th scope="col" class="px-6 py-3">
                    Цена (лв)
                </th>
                <th scope="col" class="px-6 py-3">
                    Цена (Евро)
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {%for listing in page_obj%}
            <tr class="bg-white border-b  border-gray-200 hover:bg-gray-50 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    {{listing.pk}}
                </th>
                <td class="px-6 py-4">
                    {{listing.title}}
                </td>
                <td class="px-6 py-4">
                    {{listing.price}} лв.
                </td>
                <td class="px-6 py-4">
                    {{listing.eur_price}} евро
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600  hover:underline">Edit</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <nav aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 block md:inline">Showing <span class="font-semibold text-gray-900">{{ page_obj.number }}</span> of <span class="font-semibold text-gray-900">{{ page_obj.paginator.num_pages }}</span></span>
    <ul class="flex flex-col items-center justify-center  md:flex-row md:justify-center">
        {% if page_obj.has_previous %}
        <li>
            <a hx-get="{%url 'infotable'%}?page={{ page_obj.previous_page_number }}" hx-target="#section-table" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 ">Previous</a>
        </li>
        {%endif%}
        {%for number in page_obj.paginator.page_range %}
        <li>
            <a hx-get="{%url 'infotable'%}?page={{number}}"  hx-target="#section-table" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{number}}</a>
        </li>
        {%endfor%}
        {% if page_obj.has_next %}
        <li>
            <a hx-get="{%url 'infotable'%}?page={{ page_obj.next_page_number }}" hx-target="#section-table" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
        </li>
        {%endif%}
    </ul>
</nav>
</section>
