{% for listing in listings %}
    <div class="bg-gray-200 rounded-lg p-4 relative scale-100 hover:scale-105 ease-in duration-75">
        <div class="mb-4">
            <div class="flex items-center gap-2">
                <button
                        data-popover-target="popover-company-profile-{{ listing.id }}" type="button"
                        class="flex items-center justify-center text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300"
                        aria-expanded="false"
                >
                    <span class="sr-only">Отвори меню</span>
                    <img class="w-10 h-10 rounded-full"
                         src="{{ listing.connection.profile_picture.url }}"
                         alt="photo">
                </button>
                <p class="text-lg">{{ listing.connection }}</p>
            </div>
            <div data-popover id="popover-company-profile-{{ listing.id }}" role="tooltip"
                 class="absolute z-20 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-80 mt-2">
                <div class="p-3">
                    <div class="flex">
                        <div class="me-3 shrink-0">
                            <a class="block p-2 bg-gray-100 rounded-lg">
                                <img class="w-8 h-8 rounded-full" src="{{ listing.connection.profile_picture.url }}"
                                     alt="photo">
                            </a>
                        </div>
                        <div>
                            <p class="mb-1 text-base font-semibold text-gray-900">
                                <a>{{ listing.connection.business_name }}</a>
                            </p>
                            <p class="mb-2 text-sm">{{ listing.connection.get_business_type_display }}</p>
                            <p class="text-sm">{{ listing.connection.location }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'listings:listingDetail' listing.id %}" class="block group">
            <p class="text-lg text-center font-bold text-black-900 mb-2">{{ listing.title }}</p>
            <div class="bg-gray-600 rounded-lg overflow-hidden flex justify-center items-center mb-3">
                {% if listing.image %}
                    <img src="{{ listing.image.url }}" alt="{{ listing.title }}" class="w-50 h-50 object-cover"/>
                {% else %}
                    <img src="https://cdn-881a96c5-a77b871b.commercebuild.com/9c11605d8e09681aa14e671430afe003/contents/global/no_available_image.gif"
                         alt="Default Image" class="w-50 h-50 object-cover"/>
                {% endif %}
            </div>
            <p class="text-lg font-medium text-blue-900 text-center">
                Цена: {{ listing.price }} лв. // {{ listing.eur_price }} €
            </p>
        </a>
    </div>
{% empty %}
    <div class="col-span-full flex justify-center items-center">
        <h1 class="text-2xl font-bold text-center text-gray-900">
            Няма оферти..
        </h1>
    </div>
{% endfor %}
{% if page_obj.has_next %}
            <div class="col-span-full flex justify-center items-center mt-4" id="replaceMe">
                <div role="status">
                    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                            hx-get="?page={{ page_obj.next_page_number }}"
                            hx-target="#replaceMe"
                            hx-swap="outerHTML">
                        Зареди още оферти..
                    </button>
                </div>
            </div>
        {% endif %}