{% extends "base.html" %}
{% block head_title %} {{ listing_detail.title }} Оферта{% endblock %}
{% block content %}

    <section class="flex bg-white md:py-16 antialiased">
        <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
            <div class="lg:grid lg:grid-cols-1">
                <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                    <img class="w-100 h-100"
                         src="{{ listing_detail.image.url }}" alt=""/>
                </div>
                <div class="mt-6 sm:mt-8 lg:mt-0">
                    <h1
                            class="text-xl font-semibold text-gray-900 sm:text-2xl"
                    >
                        {{ listing_detail.title }}
                    </h1>
                    <div>
                        <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl">
                            {{ listing_detail.price }} лв.
                        </p>
                        <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl">
                            {{ listing_detail.eur_price }} €
                        </p>
                        <div class="flex items-center gap-2 mt-2 sm:mt-0">
                            <div class="flex items-center gap-1">
                            </div>
                        </div>
                    </div>
                    <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800"/>
                    <p class="mb-6 text-gray-500 dark:text-gray-400">
                        {{ listing_detail.description }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-8 antialiased">
        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
            <div class="mx-auto max-w-5xl">
                <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">Поръчка</h2>
                <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12" id="ordering-swap">
                    <div class="mt-6 grow sm:mt-8 lg:mt-0">
                        <div class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6">
                            <div class="space-y-2">
                                <dl class="flex items-center justify-between gap-2">
                                    <dt class="text-base font-normal text-gray-500">Цена</dt>
                                    <dd class="text-base font-medium text-gray-900">{{ listing_detail.price }} лв
                                        | {{ listing_detail.eur_price }} €
                                    </dd>
                                </dl>
                            </div>
                            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
                                <dt class="text-base font-bold text-gray-900">Общо</dt>
                                <dd class="text-base font-bold text-gray-900">{{ listing_detail.price }} лв
                                    | {{ listing_detail.eur_price }} €
                                </dd>
                            </dl>
                        </div>
                        {% if user.is_authenticated %}
                        <button hx-post="{% url 'orders:create' listing_detail.pk %}" hx-target="#ordering-swap"
                                hx-swap="innerHTML"
                                class="flex w-full items-center justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm
                            font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4
                            focus:ring-blue-300">
                            Поръчай
                        </button>
                        {% else %}
                        <a href="{% url 'signin' %}" class="flex w-full items-center justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm
                            font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4
                            focus:ring-blue-300">
                            Нужно е да си регистриан
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

