{% extends "base.html" %}
{% load filter_types_tag %}

{% block head_title %} {{ block.super }} | Всички оферти{% endblock %}
{% load static %}
{% block content %}
    {% block js %}
        <script src="{% static 'js/carousel.js' %}"></script>
    {% endblock js %}
    <section class="w-full overflow-hidden py-8 bg-gray-100">
        <div class="max-w-7xl mx-auto px-4">
            {% filter_types_tag coffee_listings 'Кафе' %}
            {% filter_types_tag restaurant_listings 'Ресторанти' %}
            {% filter_types_tag fast_food_listings 'Fast Food' %}
            {% filter_types_tag other_listings 'Други' %}
        </div>
    </section>
{% endblock %}




