{% extends "base.html" %}
{%block head_title%} {{ block.super }} | Профил{%endblock %}

{% block content%}


<section class="py-8 md:py-8">
  <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
    <h2 class="mb-4 text-xl font-semibold text-gray-900  sm:text-2xl md:mb-6">Преглед на профила</h2>
    <div class="py-4 md:py-8">
      <div class="mb-4 grid gap-4 sm:grid-cols-2 sm:gap-8 lg:gap-16">
        <div class="space-y-4">
          <div class="flex space-x-4">
            <img class="h-16 w-16 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/helene-engels.png" alt="Helene avatar" />
            <div>
              <span class="mb-2 inline-block rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 ">{{user.user_type|capfirst}}</span>
              <h2 class="flex items-center text-xl font-bold leading-none text-gray-900  sm:text-2xl">{{customer.full_name }}</h2>
            </div>
          </div>
          <dl>
            <dt class="font-semibold text-gray-900 ">Email Address</dt>
            <dd class="text-gray-500">{{user.email}}</dd>
          </dl>
        </div>
        <div class="space-y-4">
          <dl>
            <dt class="font-semibold text-gray-900 ">Телефонен номер</dt>
            <dd class="text-gray-500 ">{{ user.phone_number}}</dd>
          </dl>
        </div>
      </div>
    </div>
    </div>
</section>


{%endblock%}  