{%extends 'business/main.html'%}

{%block title%} | Таблица {%endblock %}
{%block content%}
<div id="table-container">
<section id="section-table" class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="default-table" class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Заглавие
                </th>
                <th scope="col" class="px-6 py-3">
                    Цена (лв)
                </th>
                <th scope="col" class="px-6 py-3">
                    Цена (Евро)
                </th>
                <th scope="col" class="px-6 py-3">
                    Статус
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody id="listingtable" hx-target="this" hx-swap="outerHTML">
            {% include 'htmx-partials/listing_table_partial.html' %}
        </tbody>
    </table>
{% include 'htmx-partials/paginator-data.html' %}
</section>
</div>
{%endblock%}