{%extends 'base.html' %}

{%block template%}
<main class="grow grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-orange-400">403</p>
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Какво правиш тук?</h1>
    <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Нямаш право да си на тази страница.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="{%url 'index'%}" class="rounded-md bg-yellow-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-yellow-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600">Върни се на началната страница</a>
    </div>
  </div>
</main>
{%endblock template%}