
<footer class="bg-cyan-900 shadow-xl ">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between ">
      <span class="text-sm text-white sm:text-center">© 2025 <a href="{%url 'index'%}" class="hover:underline">SpasiHrana</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">За Нас</a>
        </li>
        <li>
            <a href="{% url 'faq'%}" class="hover:underline me-4 md:me-6">ЧЗВ</a>
        </li>

    </ul>
    </div>
</footer>
