{%load static%}
<section class="bg-yellow-500">
        <div class="py-8 px-4 mx-auto max-w-screen text-center lg:py-16 lg:px-12 bg-center bg-repeat"> 
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white  md:text-5xl lg:text-6xl ">Платформата за Спасяване на Храна</h1>
        <p class="mb-8 text-lg font-bold text-white lg:text-xl sm:px-16 xl:px-48 ">Спаси Храна има за цел да намали изхвърлянето на храна</p>
        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="{%url 'signin'%}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300">
                Започни да Спасяваш Храна
            </a>
        </div>
        
    </div>


</section>  
