{%extends 'base.html'%}


{%block content%}
<section class="bg-gray-50 lg:py-24">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto ">
      <div class="w-full bg-white rounded-lg shadow  sm:max-w-md xl:p-0 ">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Създай акаунт - ЗА БИЗНЕСИ
              </h1>
              <form method='POST' class="space-y-4 md:space-y-6" action="{% url 'business-signup' %}">
                {%csrf_token%}
                   <div>
                    {{form.username.label}}
                     {{form.username}}
                  </div>
                  <div>
                     {{form.email.label}}
                     {{form.email}}
                  </div>
                    <div>
                    {{form.password1.label}}
                     {{form.password1}}
                  </div>
                     <div>
                        {{form.password2.label}}
                     {{form.password2}}
                  </div>
                    <div>
                    {{form.first_name.label}}
                     {{form.first_name}}
                  </div>
                    <div>
                    {{form.last_name.label}}
                     {{form.last_name}}
                  </div>
                    <div>
                  {{form.business_name.label}}
                     {{form.business_name}}
                  </div>
                    <div>
                     {{form.location.label}}
                     {{form.location}}
                  </div> 
                    <div>
                    {{form.business_type.label}}
                    </div>
                    <div class="flex items-center">
<button id="dropdownHelperButton" data-dropdown-toggle="dropdownHelper" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800" type="button">Dropdown checkbox <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
</svg>
</button>

<div id="dropdownHelper" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-60 ">
                <ul class="p-3 space-y-1 text-sm text-gray-700 " aria-labelledby="dropdownRadioBgHoverButton">
                {%for radio in form.business_type%}
                <li>
        <div class="flex p-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                    <div class="flex items-center h-5">
                    {{ radio.tag }}
                    </div>
                    <div class="ms-2 text-sm">
                    <label for="{{ radio.id_for_label }}" class="font-medium text-gray-900 ">
                        <div>{{ radio.choice_label }}</div>
                    </label>
                              </div>
                            </div>

                </li>
                {%endfor%}
                </ul>
                  </div>
                </div>
                <div class="block mb-2 text-sm font-medium text-red-600">
                {{ form.non_field_errors }}
                </div>
<button type="submit" class="w-full text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Създай акаунт</button>
<input type="hidden" name="next" value="{{ next }}">

                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                      Вече имате акаунт? <a href="{%url 'signin' %}" class="font-medium text-orange-600 hover:underline dark:text-orange-500">Вход</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>

{%endblock%}