{%extends 'base.html'%}

{%block head_title%}{{ block.super }} | Влез в акаунт{%endblock%}

{%block content%}

<section class="bg-gray-50 lg:py-24">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto ">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 ">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                  Влез в акаунта си
              </h1>
              <form class="space-y-4 md:space-y-6" method="post" action="{% url 'signin' %}">
                {% csrf_token %}
                <div>
                    <label for="{{ form.username.id_email }}" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                    {{ form.username }}
                </div>
                <div>
                    <label for="{{ form.password.id_password }}" class="block mb-2 text-sm font-medium text-gray-900">Парола</label>
                    {{ form.password }}
                </div>
                <div class="block mb-2 text-sm font-medium text-red-600">
                {{ form.non_field_errors }}
                </div>
                  <div class="flex">
                      <a href="#" class="text-sm font-medium text-orange-600 hover:underline">Забравена парола?</a>
                  </div>
<input class="w-full text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit" value="Влез">
<input type="hidden" name="next" value="{{ next }}">

                  <p class="text-sm font-light text-gray-500 ">
                      Ако нямаш профил. <a href="#" class="font-medium text-orange-500 hover:underline">Създай от тук</a>
                  </p>
              </form>
          </div>
      </div>
    </div> 
</section>

{%endblock%}
